.form-control{
    width: 30%;
    /* margin-bottom: 30px;
    margin-top: 30px; */

}
.native-select{
    margin-top: 5px;
    margin-left: 7px;
    background-color: grey;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.option:hover{
    margin-top: 5px;
    margin-left: 7px;
    background-color: grey;
    color: black;
}